.img1{
  width: 100%;
}
/* #cartdivcon{
  display: flex;
   
} */

.aa{
  display: flex;
  align-items: center;
  justify-content: center;

}
.about{
  height:10%;
  line-height: 1.2;
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;

 

}
.abtimg{
 
  
  height:35vh;
  /* margin-left: 5%; */
}